html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    font-family: Helvetica;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.user-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    padding: 10px 25px;
    min-width: 350px;
}

.user-info {
    padding: 10px;
}

.user-info h2,
.user-info p {
    margin: 20px 0;
}

.user-info p {
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
}