html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    font-family: Helvetica;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

